body {
	background-color: #101010;
	color: #CBB4AA;
	font-family: 'Nova Cut', cursive;
}

h1 {
	font-family: 'Euphoria Script', cursive;
	text-align: center;
	font-size: 5rem;
}

.hero-container {
	height: 600px;
}

.bg {
	background-image: url(images/main.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.info {
	white-space: pre-line;
	text-align: center;
	font-size: 1.5rem;
}